In [1]:
import pandas as pd
import os
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

In [24]:
root_dir = 'D:/datasets/KAERI_dataset'

train_f = pd.read_csv(os.path.join(root_dir, 'train_features.csv'))
train_t = pd.read_csv(os.path.join(root_dir, 'train_target.csv'))
test_f = pd.read_csv(os.path.join(root_dir, 'test_features.csv'))

In [3]:
train_f.shape

(1050000, 6)

In [4]:
train_f.head()

   id      Time   S1   S2   S3   S4
0   0  0.000000  0.0  0.0  0.0  0.0
1   0  0.000004  0.0  0.0  0.0  0.0
2   0  0.000008  0.0  0.0  0.0  0.0
3   0  0.000012  0.0  0.0  0.0  0.0
4   0  0.000016  0.0  0.0  0.0  0.0

In [5]:
train_t.head()

   id      X      Y      M    V
0   0    0.0 -400.0   50.0  0.4
1   1  400.0    0.0  100.0  1.0
2   2 -300.0 -200.0   25.0  0.4
3   3  200.0 -100.0  150.0  0.4
4   4 -300.0 -100.0  150.0  0.4

In [6]:
test_f.head()

     id      Time   S1   S2   S3   S4
0  2800  0.000000  0.0  0.0  0.0  0.0
1  2800  0.000004  0.0  0.0  0.0  0.0
2  2800  0.000008  0.0  0.0  0.0  0.0
3  2800  0.000012  0.0  0.0  0.0  0.0
4  2800  0.000016  0.0  0.0  0.0  0.0

### train_feature

In [7]:
train_f['id'].value_counts()

2047    375
1333    375
2361    375
312     375
1335    375
       ...
1645    375
621     375
2668    375
1644    375
0       375
Name: id, Length: 2800, dtype: int64

In [8]:
train_f.isnull().sum()

id      0
Time    0
S1      0
S2      0
S3      0
S4      0
dtype: int64

In [9]:
train_f.groupby('id')['Time'].count()

id
0       375
1       375
2       375
3       375
4       375
       ...
2795    375
2796    375
2797    375
2798    375
2799    375
Name: Time, Length: 2800, dtype: int64

In [10]:
train_f.groupby('id')['Time'].max()

id
0       0.001496
1       0.001496
2       0.001496
3       0.001496
4       0.001496
          ...
2795    0.001496
2796    0.001496
2797    0.001496
2798    0.001496
2799    0.001496
Name: Time, Length: 2800, dtype: float64

In [11]:
train_f.describe()

,id,Time,S1,S2,S3,S4
count,1.050000e+06,1.050000e+06,1.050000e+06,1.050000e+06,1.050000e+06,1.050000e+06
mean,1.399500e+03,7.480000e-04,-4.050983e+02,-4.050983e+02,-1.334343e+03,-1.605664e+03
std,8.082907e+02,4.330114e-04,2.753174e+05,2.753174e+05,2.655351e+05,3.026970e+05
min,0.000000e+00,0.000000e+00,-5.596468e+06,-5.596468e+06,-2.772952e+06,-6.069645e+06
25%,6.997500e+02,3.720000e-04,-7.426321e+04,-7.426321e+04,-7.855488e+04,-7.818371e+04
50%,1.399500e+03,7.480000e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.099250e+03,1.124000e-03,7.391142e+04,7.391142e+04,7.295836e+04,7.665808e+04
max,2.799000e+03,1.496000e-03,3.865086e+06,3.865086e+06,3.655237e+06,3.687344e+06

In [12]:
test_f.describe()

,id,Time,S1,S2,S3,S4
count,262500.000000,262500.000000,2.625000e+05,2.625000e+05,2.625000e+05,2.625000e+05
mean,3149.500000,0.000748,-2.172298e+02,-1.842608e+02,-1.208247e+02,-8.578727e+02
std,202.072773,0.000433,2.303438e+05,2.285628e+05,2.282941e+05,2.691352e+05
min,2800.000000,0.000000,-3.027980e+06,-2.783507e+06,-2.399706e+06,-5.163090e+06
25%,2974.750000,0.000372,-7.873856e+04,-7.896356e+04,-8.323576e+04,-7.888264e+04
50%,3149.500000,0.000748,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,3324.250000,0.001124,7.698237e+04,7.719620e+04,8.165685e+04,7.845508e+04
max,3499.000000,0.001496,3.022443e+06,2.877832e+06,2.486714e+06,4.305746e+06

In [13]:
train_t['M'].value_counts()

175.0    400
150.0    400
75.0     400
125.0    400
25.0     400
100.0    400
50.0     400
Name: M, dtype: int64

In [14]:
train_t['X'].value_counts()

-300.0    315
 300.0    315
-200.0    315
 100.0    315
-100.0    315
-400.0    315
 200.0    315
 400.0    315
 0.0      280
Name: X, dtype: int64

In [15]:
train_t['Y'].value_counts()

-300.0    315
 300.0    315
 100.0    315
 200.0    315
-100.0    315
-200.0    315
 0.0      315
-400.0    315
 400.0    280
Name: Y, dtype: int64

In [16]:
train_t['V'].value_counts()

0.8    560
0.2    560
0.4    560
0.6    560
1.0    560
Name: V, dtype: int64

### preprocessing

In [25]:
def preprocess(data):
    # convert time sec to order number
    data['Time'] /= 0.000004
    data['Time'] = data['Time'].astype(np.int16).astype(str)
    
    # pivot
    data_pivot = data.pivot_table(index = 'id', values= ['S1','S2','S3','S4'], columns='Time')
    data_pivot.columns = ['_'.join(x) for x in data_pivot.columns.values]
    
    return data_pivot

In [26]:
trn = preprocess(train_f)

In [27]:
trn.head()

,S1_0,S1_1,S1_10,S1_100,S1_101,S1_102,S1_103,S1_104,S1_105,S1_106,...,S4_90,S4_91,S4_92,S4_93,S4_94,S4_95,S4_96,S4_97,S4_98,S4_99
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,-4.972607e-08,139454.800,168428.900,191703.7000,208145.90,219978.20,224587.20,218900.50,...,-2.154438e+02,-14557.57,-33901.75,-52578.66,-62459.04,-53790.86,-32473.27,-11799.29,9057.05,34479.76
1,0.0,0.0,0.000000e+00,8151.302,4888.677,-615.5879,-12015.93,-30952.12,-48913.93,-49925.75,...,1.024173e+06,1095499.00,1061209.00,909563.40,648399.00,339156.30,-42677.19,-428476.10,-812719.70,-1074859.00
2,0.0,0.0,-1.874429e+02,-16723.000,-16074.190,-16368.0900,-13730.92,-11915.05,-13439.89,-14359.60,...,7.912616e+04,113238.90,139822.00,147123.50,132768.60,93479.66,28656.93,-41169.07,-110139.00,-161226.80
3,0.0,0.0,0.000000e+00,-73672.230,-82998.010,-90253.4800,-89981.46,-77092.49,-52874.01,-24631.03,...,3.916571e+04,-17841.29,-75468.21,-124241.60,-176415.80,-229249.60,-289117.70,-343540.60,-398224.60,-441401.90
4,0.0,0.0,-5.395420e+00,-124438.100,-134954.000,-144245.1000,-153940.10,-164849.00,-173207.00,-175876.50,...,5.953886e+03,48055.03,93281.80,132627.00,171026.90,201571.80,226705.70,238129.60,238082.50,227932.50

In [36]:
train = trn.loc[~trn.index.isin(val_id)]
valid = trn.loc[trn.index.isin(val_id)]
train_y = train_t.loc[~train_t['id'].isin(val_id)]
valid_y = train_t.loc[train_t['id'].isin(val_id)]

In [45]:
test = preprocess(test_f)

In [58]:
import lightgbm as lgb
from sklearn.model_selection import KFold

In [96]:
params = {
    'learning_rate':0.05,
    'num_boost_round':1000,
    'num_leaves':64,
    'objective':'mse',
    'boosting':'gbdt',
    'seed':83,
    'max_depth':4,
    'bagging_fraction':0.7,
    'feature_fraction':0.7,
    'early_stopping_round':100,
    'lambda_l2':0.00001,
    'verbosity':-1
    
}

In [97]:
nfold = 10
fold = KFold(nfold, shuffle = True, random_state= 25)

In [ ]:
predict = {'X':np.zeros(700), 'Y':np.zeros(700), 'M':np.zeros(700), 'V':np.zeros(700)}
loss = {'X':[],'Y':[],'M':[],'V':[]}
for train_idx, val_idx in fold.split(trn, y = train_t):
    for target in ['X','Y','M','V']:
        trainx_fold = trn.iloc[train_idx]
        validx_fold = trn.iloc[val_idx]
        trainy_fold = train_t.iloc[train_idx]
        validy_fold = train_t.iloc[val_idx]
        
        train_dataset = lgb.Dataset(trainx_fold, trainy_fold[target])
        valid_dataset = lgb.Dataset(validx_fold, validy_fold[target])

        model = lgb.train(params, train_set=train_dataset, valid_sets = valid_dataset)
        predict[target] += model.predict(test)
        loss[target].append(model.best_score['valid_0']['l2'])

In [100]:
submission = pd.read_csv(os.path.join(root_dir, 'sample_submission.csv'))

submission.shape

submission['X'] = predict['X'] / nfold
submission['Y'] = predict['Y'] / nfold
submission['M'] = predict['M'] / nfold
submission['V'] = predict['V'] / nfold

submission.to_csv(os.path.join(root_dir, 'lgb_cv_20200622.csv'), index = False)